.details {
  max-height: calc(100vh - 4rem);
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.image {
  width: 100%;
  height: 26rem;
  object-fit: cover;
  border-radius: 1rem;
}

.like_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.favorite_icon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.information {
  margin-top: 2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid #d7dee6;
}

.description {
  margin-top: 2rem;
}

.delete_btn {
  margin-top: 2rem;
}

.delete_modal_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.bolder_subtitle {
  font-weight: 600;
}

.description_text {
  margin-top: 1rem;
  font-weight: 600;
  line-height: 2.2rem;
}

.no_img_selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.no_img_text {
  color: #dcdfe6;
  font-size: 2.6rem;
  font-weight: 400;
  margin-top: 2rem;
}
