.grid_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 24rem;
  justify-content: space-between;
  margin-bottom: 4rem;
  cursor: pointer;
}

.image_container {
  width: 100%;
  height: 18rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 0.2rem;
  transition: border-color 0.2s ease-in-out;
}

.grid_item:hover .image_container {
  border-color: #4f45e6;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.6rem;
}

.active {
  border-color: #4f45e6;
}

.item_title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1290px) {
  .grid_item {
    margin-bottom: 2rem;
  }
}
